<%- include('../Layouts/adminHeader.ejs') %>

<script>
      
</script>
<form action="" method="post" enctype="multipart/form-data" id="product-form" onsubmit="return validateProductForm()">

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                           <a href='/admin/productList' class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</a>
                           <input type="submit" class="btn btn-md rounded font-sm hover-up" value="Upload" onsubmit="return validateProductForm()">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" name="name" class="form-control" id="product_title">
                                <div class="error-message" style="color: red;" id="product_title-error"></div>

                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6  mb-3">
                                    <label for="product_sku" class="form-label">Brand</label>
                                    <input type="text" placeholder="Type here" name="brand" class="form-control" id="product_brand">
                                    <div class="error-message" style="color: red;" id="product_brand-error"></div>

                                </div>
                              
                                <div class="col-md-6  mb-3">
                                    <label for="product_size" class="form-label">Series Name</label>
                                    <input type="text" placeholder="Type here" name="sname" class="form-control" id="product_series">
                                    <div class="error-message" style="color: red;" id="product_series-error"></div>

                                </div>
                       
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_sku" class="form-label">Processor Brand</label>
                                    <input type="text" placeholder="Type here" name="processorBrand" class="form-control" id="product_proBand">
                                    <div class="error-message" style="color: red;" id="product_proBand-error"></div>

                                </div>
                              
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">Processor Gen</label>
                                    <input type="text" placeholder="Type here" name="processorGen" class="form-control" id="product_gen">
                                    <div class="error-message" style="color: red;" id="product_gen-error"></div>

                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Processor Name</label>
                                    <input type="text" placeholder="Type here" name="ProcessorName" class="form-control" id="product_proName">
                                    <div class="error-message" style="color: red;" id="product_proName-error"></div>

                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="product_brand" class="form-label">Graphics Card</label>
                                <input type="text" placeholder="Type here" name="graphicsCard" class="form-control" id="product_graphic">
                                <div class="error-message" style="color: red;" id="product_graphic-error"></div>

                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row gx-3">
                               
                              
                                <div class="col-md-6  mb-3">
                                    <label for="product_size" class="form-label">RAM</label>
                                    <input type="text" placeholder="Type here" name="ram" class="form-control" id="product_ram">
                                    <div class="error-message" style="color: red;" id="product_ram-error"></div>

                                </div>
                                <div class="col-md-6  mb-3">
                                    <label for="product_color" class="form-label">RAM TYPE</label>
                                    <input type="text" placeholder="Type here" name="ramType" class="form-control" id="product_ramType">
                                    <div class="error-message" style="color: red;" id="product_ramType-error"></div>

                                </div>
                                
                            </div>
                            <div class="row gx-3" style="display: flex; justify-content: center;">
                               
                              
                                <div class="col-md-6  mb-3">
                                    <label for="product_size" class="form-label">SSD</label>
                                    <input type="text" placeholder="Type here" name="ssd" class="form-control" id="product_ssd">
                                    <div class="error-message" style="color: red;" id="product_ssd-error"></div>

                                </div>
                             
                                
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6  mb-3">
                                    <label for="product_sku" class="form-label">Clock Speed</label>
                                    <input type="text" name="clockSpeed" placeholder="Type here" class="form-control" id="product_clock">
                                    <div class="error-message" style="color: red;" id="product_clock-error"></div>

                                </div>
                              
                                <div class="col-md-6  mb-3">
                                    <label for="product_size" class="form-label">Number of Cores</label>
                                    <input type="number" name="noOfCores" placeholder="Type here" class="form-control" id="product_core">
                                    <div class="error-message" style="color: red;" id="product_core-error"></div>

                                </div>
                       
                            </div>
                          
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_sku" class="form-label">Screen Size</label>
                                    <input type="text" name="screenSize" placeholder="Type here" class="form-control" id="product_size">
                                    <div class="error-message" style="color: red;" id="product_size-error"></div>

                                </div>
                              
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">Screen Type</label>
                                    <input type="text" name="screenType" placeholder="Type here" class="form-control" id="product_scrType">
                                    <div class="error-message" style="color: red;" id="product_scrType-error"></div>

                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Touch Screen</label>
                                    <div class="form-check">
                                        <input class="form-check-input" name="touchScreen" type="radio" value="true" id="product-touch">

                                        <label class="form-check-label"  for="product-cat">Yes</label>
                                       
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" name="touchScreen" type="radio" value="false" id="product-cat">
                                        <label class="form-check-label"  for="product-cat">No</label>
                                    </div>                                
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_sku" class="form-label">Backlit</label>
                                    <div class="form-check">
                                        <input class="form-check-input" name="backlit" type="radio" value="true" id="product-cat">
                                        <label class="form-check-label"  for="product-cat">Yes</label>
                                       
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" name="backlit" type="radio" value="false" id="product-cat">
                                        <label class="form-check-label"  for="product-cat">No</label>
                                    </div>                                
                                </div>
                              
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">Finger Print</label>

                                    <div class="form-check">
                                        <input class="form-check-input" name="fingerPrint" type="radio" value="true" id="product-cat">
                                        <label class="form-check-label"  for="product-cat">Yes</label>
                                       
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" name="fingerPrint" type="radio" value="false" id="product-cat">
                                        <label class="form-check-label"  for="product-cat">No</label>
                                    </div>
                                    <!-- <label for="product_size" class="form-label">Finger Print</label>
                                    <input type="text" name="fingerPrint" placeholder="Type here" class="form-control" id="product_size"> -->
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">WebCam</label>
                                    <div class="form-check">
                                        <input class="form-check-input" name="webcam" type="radio" value="true" id="product-cat">
                                        <label class="form-check-label"  for="product-cat">Yes</label>
                                       
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" name="webcam" type="radio" value="false" id="product-cat">
                                        <label class="form-check-label"  for="product-cat">No</label>
                                    </div>                                
                                </div>
                            </div>
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" name="description" class="form-control" rows="4"></textarea>
                                <div class="error-message" style="color: red;" id="description-error"></div>

                            </div>
                        </div>
                    </div> <!-- card end// -->
                    
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label">Price</label>
                                <input type="number" name="price" placeholder="Type here" class="form-control" id="product_price">
                                <div class="error-message" style="color: red;" id="product_price-error"></div>

                            </div>
                            <!-- <div class="mb-4">
                                <label class="form-label">Discount Price</label>
                                <input type="number" name="discountPrice" placeholder="Type here" class="form-control" id="product_discount">
                                <div class="error-message" style="color: red;" id="product_discount-error"></div>

                            </div> -->
                            <div class="mb-4">
                                <label class="form-label">Color</label>
                                <input type="text" name="color" placeholder="Type here" class="form-control" id="product_color">
                                <div class="error-message" style="color: red;" id="product_color-error"></div>

                            </div>
                            <div class="mb-4">
                                <label class="form-label">Quantity</label>
                                <input type="number" name="quantity" placeholder="Type here" class="form-control" id="product_quantity">
                                <div class="error-message" style="color: red;" id="product_quantity-error"></div>

                            </div>
                            
                            <hr>
                            <h5 class="mb-3">Categories</h5>

                            <%
                            if(category)
                            if(category.length>0){
                                for(let i=0;i<category.length;i++){
                                    %>
                            <div class="form-check">
                                <input class="form-check-input" name="category" type="radio" value="<%= category[i].name %>" id="product-cat">
                                <label class="form-check-label"  for="product-cat"><%= category[i].name %></label>
                            </div>
                            <% } }%>

                            
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            
                            <div class="images-container">
                                <!-- Add Product Images Here -->
                            </div>
                            <button type="button" class="btn btn-primary mb-3" onclick="addImage()">Add Image</button>
                            <button type="button" class="btn btn-danger mb-3" onclick="deleteImages()">Delete Selected Images</button>
                        </div>
                    </div>
                    
                  
                            
                            
                              
                              
                          
                            
     
           
                        </div>
                    </div>
                    <div id="invalid">
                        <% if (typeof error !== 'undefined' && error) { %>
                            <p style="color: rgb(144, 5, 5);" id="message"><%= error %></p>
                        <% } %>
                                </div>  
                    </div> 
                    <div id="invalid">
                        <% if (typeof message !== 'undefined' && message) { %>
                            <p style="color: rgb(8, 96, 0);" id="message"><%= message %></p>
                        <% } %>
                                </div>  
                    </div>  <!-- card end// -->
                </div>

            </div>
        </section>
    </form>


    
    <script>
        function validateProductForm() {
        const productTitleInput = document.getElementById('product_title');
        const productTitleError = document.getElementById('product_title-error');

        const productBrandInput = document.getElementById('product_brand');
        const productBrandError = document.getElementById('product_brand-error');

        const productSeriesInput = document.getElementById('product_series');
        const productSeriesError = document.getElementById('product_series-error');

        const productProBandInput = document.getElementById('product_proBand');
        const productProBandError = document.getElementById('product_proBand-error');

        const productGenInput = document.getElementById('product_gen');
        const productGenError = document.getElementById('product_gen-error');

        const productProNameInput = document.getElementById('product_proName');
        const productProNameError = document.getElementById('product_proName-error');

        const productGraphicInput = document.getElementById('product_graphic');
        const productGraphicError = document.getElementById('product_graphic-error');

        const productRAMInput = document.getElementById('product_ram');
        const productRAMError = document.getElementById('product_ram-error');

        const productRAMTypeInput = document.getElementById('product_ramType');
        const productRAMTypeError = document.getElementById('product_ramType-error');

        const productSSDInput = document.getElementById('product_ssd');
        const productSSDError = document.getElementById('product_ssd-error');

      

        const productClockInput = document.getElementById('product_clock');
        const productClockError = document.getElementById('product_clock-error');

        const productCoreInput = document.getElementById('product_core');
        const productCoreError = document.getElementById('product_core-error');

        const productSizeInput = document.getElementById('product_size');
        const productSizeError = document.getElementById('product_size-error');

        const productScrTypeInput = document.getElementById('product_scrType');
        const productScrTypeError = document.getElementById('product_scrType-error');



        const productPriceInput = document.getElementById('product_price');
        const productPriceError = document.getElementById('product_price-error');

      

        const productColorInput = document.getElementById('product_color');
        const productColorError = document.getElementById('product_color-error');

        const productImageInput = document.getElementById('product_quantity');
        const productImageError = document.getElementById('product_image')

        const productQuantitiyInput = document.getElementById('product_quantity')
        const productQuantityError = document.getElementById('product_quantity-error');

        // Reset previous error messages
        productTitleError.textContent = '';
        productBrandError.textContent = '';
        productSeriesError.textContent = '';
        productProBandError.textContent = '';
        productGenError.textContent = '';
        productProNameError.textContent = '';
        productGraphicError.textContent = '';
        productRAMError.textContent = '';
        productRAMTypeError.textContent = '';
        productSSDError.textContent = '';
        productClockError.textContent = '';
        productCoreError.textContent = '';
        productSizeError.textContent = '';
        productScrTypeError.textContent = '';
        productPriceError.textContent = '';
        productColorError.textContent = '';
        productQuantityError.textContent = '';

        // Validate Product Title
        if (productTitleInput.value.trim() === '') {
            productTitleError.textContent = 'Product title is required';
            productTitleInput.focus();
            return false;
        }

        // Validate Product Brand
        if (productBrandInput.value.trim() === '') {
            productBrandError.textContent = 'Brand is required';
            productBrandInput.focus();
            return false;
        }

        // Validate Series Name
        if (productSeriesInput.value.trim() === '') {
            productSeriesError.textContent = 'Series Name is required';
            productSeriesInput.focus();
            return false;
        }

        // Validate Processor Brand
        if (productProBandInput.value.trim() === '') {
            productProBandError.textContent = 'Processor Brand is required';
            productProBandInput.focus();
            return false;
        }

        // Validate Processor Gen
        if (productGenInput.value.trim() === '') {
            productGenError.textContent = 'Processor Gen is required';
            productGenInput.focus();
            return false;
        }

        // Validate Processor Name
        if (productProNameInput.value.trim() === '') {
            productProNameError.textContent = 'Processor Name is required';
            productProNameInput.focus();
            return false;
        }

        // Validate Graphics Card
        if (productGraphicInput.value.trim() === '') {
            productGraphicError.textContent = 'Graphics Card is required';
            productGraphicInput.focus();
            return false;
        }

        // Validate RAM
        if (productRAMInput.value.trim() === '') {
            productRAMError.textContent = 'RAM is required';
            productRAMInput.focus();
            return false;
        }

        // Validate RAM Type
        if (productRAMTypeInput.value.trim() === '') {
            productRAMTypeError.textContent = 'RAM Type is required';
            productRAMTypeInput.focus();
            return false;
        }

        // Validate SSD
        if (productSSDInput.value.trim() === '') {
            productSSDError.textContent = 'SSD is required';
            productSSDInput.focus();
            return false;
        }

        

        // Validate Clock Speed
        if (productClockInput.value.trim() === '') {
            productClockError.textContent = 'Clock Speed is required';
            productClockInput.focus();
            return false;
        }

        // Validate Number of Cores
        if (productCoreInput.value.trim() === '') {
            productCoreError.textContent = 'Number of Cores is required';
            productCoreInput.focus();
            return false;
        }

        // Validate Screen Size
        if (productSizeInput.value.trim() === '') {
            productSizeError.textContent = 'Screen Size is required';
            productSizeInput.focus();
            return false;
        }

        // Validate Screen Type
        if (productScrTypeInput.value.trim() === '') {
            productScrTypeError.textContent = 'Screen Type is required';
            productScrTypeInput.focus();
            return false;
        }

        // Validate Price
        if (productPriceInput.value.trim() === '') {
            productPriceError.textContent = 'Price is required';
            productPriceInput.focus();
            return false;
        }

       
        if (productPriceInput.value <= 0) {
            productPriceError.textContent = 'Cannot enter a negative price';
            productPriceInput.focus();
            return false; 
        }

       

        if (productQuantitiyInput.value.trim() === '') {
            productQuantityError.textContent = 'Quantity is required';
            productQuantitiyInput.focus();
            return false;
        }

        if (productQuantitiyInput.value < 0) {
            productQuantityError.textContent = 'Cannot enter negative quantity';
            productQuantitiyInput.focus();
            return false;
        }
        // Validate Color
        if (productColorInput.value.trim() === '') {
            productColorError.textContent = 'Color is required';
            productColorInput.focus();
            return false;
        }


        // Validate Quantity
        if (productImageInput.value.trim() === '') {
            productQuantityError.textContent = 'Quantity is required';
            productImageInput.focus();
            return false;
        }
        
        return true;
    }



        let imageCount = 0;
        const selectedImages = [];
    
        function addImage() {
            if (imageCount <= 4) {
                imageCount++;
                const container = document.querySelector('.images-container');
                const imageDiv = document.createElement('div');
                imageDiv.classList.add('mb-4');
                imageDiv.innerHTML = `
                    <label class="form-label">Image ${imageCount}</label>
                    <div class="image-container">
                        <img src="" alt="" id="image-preview${imageCount}">
                    </div>
                    <input class="form-control" name="image${imageCount}" type="file" onchange="displayImage(${imageCount}, this)" accept="image/*">
                    <input type="checkbox" class="image-checkbox" onchange="toggleImageSelection(${imageCount}, this)">
                `;
                container.appendChild(imageDiv);
            }
        }
    
        function displayImage(imageNumber, input) {
            const preview = document.getElementById(`image-preview${imageNumber}`);
    
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = '';
            }
        }
    
        function toggleImageSelection(imageNumber, checkbox) {
            if (checkbox.checked) {
                selectedImages.push(imageNumber);
            } else {
                const index = selectedImages.indexOf(imageNumber);
                if (index > -1) {
                    selectedImages.splice(index, 1);
                }
            }
        }
    
        function deleteImages() {
            const container = document.querySelector('.images-container');
            selectedImages.forEach((imageNumber) => {
                const imageDiv = document.getElementById(`image-preview${imageNumber}`).parentNode.parentNode;
                container.removeChild(imageDiv);
            });
            selectedImages.length = 0; // Clear the selectedImages array
        }



    </script>
    
<%- include('../Layouts/adminFooter.ejs') %>