<%- include('../Layouts/adminHeader.ejs') %>

        <section class="content-main">
            <form action="" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                   



                        <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                           
                            <input type="submit" class="btn btn-md rounded font-sm hover-up" value="Edit">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <input type="hidden" value="<%= products._id %>" name="product_id">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" value="<%= products.name %>" name="name" class="form-control" id="product_title">
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6  mb-3">
                                    <label for="product_sku" class="form-label">Brand</label>
                                    <input type="text" placeholder="Type here" value="<%= products.brand %>" name="brand" class="form-control" id="product_sku">
                                </div>
                              
                                <div class="col-md-6  mb-3">
                                    <label for="product_size" class="form-label">Series Name</label>
                                    <input type="text" placeholder="Type here" value="<%= products.modelName %>" name="sname" class="form-control" id="product_size">
                                </div>
                       
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_sku" class="form-label">Processor Brand</label>
                                    <input type="text" placeholder="Type here" value="<%= products.processorBrand %>" name="processorBrand" class="form-control" id="product_sku">
                                </div>
                              
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">Processor Gen</label>
                                    <input type="text" placeholder="Type here" value="<%= products.processorGen %>" name="processorGen" class="form-control" id="product_size">
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Processor Name</label>
                                    <input type="text" placeholder="Type here" value="<%= products.processorName %>" name="ProcessorName" class="form-control" id="product_color">
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="product_brand" class="form-label">Graphics Card</label>
                                <input type="text" placeholder="Type here" value="<%= products.graphicsCard %>" name="graphicsCard" class="form-control" id="product_brand">
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row gx-3">
                               
                              
                                <div class="col-md-6  mb-3">
                                    <label for="product_size" class="form-label">RAM</label>
                                    <input type="number" placeholder="Type here" value="<%= products.ram %>" name="ram" class="form-control" id="product_size">
                                </div>
                                <div class="col-md-6  mb-3">
                                    <label for="product_color" class="form-label">RAM TYPE</label>
                                    <input type="text" placeholder="Type here" value="<%= products.ramType %>" name="ramType" class="form-control" id="product_color">
                                </div>
                                
                            </div>
                            <div class="row gx-3">
                               
                              
                                <div class="col-md-6  mb-3">
                                    <label for="product_size" class="form-label">SSD</label>
                                    <input type="number" placeholder="Type here" value="<%= products.ssd %>" name="ssd" class="form-control" id="product_size">
                                </div>
                                <div class="col-md-6  mb-3">
                                    <label for="product_color" class="form-label">ROM</label>
                                    <input type="number" placeholder="Type here" value="" name="ROM" class="form-control" id="product_color">
                                </div>
                                
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6  mb-3">
                                    <label for="product_sku" class="form-label">Clock Speed</label>
                                    <input type="text" name="clockSpeed" value="<%= products.clockSpeed %>" placeholder="Type here" class="form-control" id="product_sku">
                                </div>
                              
                                <div class="col-md-6  mb-3">
                                    <label for="product_size" class="form-label">Number of Cores</label>
                                    <input type="number" name="noOfCores" value="<%= products.numberOfCores %>" placeholder="Type here" class="form-control" id="product_size">
                                </div>
                       
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6  mb-3">
                                    <label for="product_sku" class="form-label">OS</label>
                                    <input type="text" name="os" placeholder="Type here" value="<%= products.os %>" class="form-control" id="product_sku">
                                </div>
                              
                                <div class="col-md-6  mb-3">
                                    <label for="product_size" class="form-label">OS Architecture</label>
                                    <input type="number" name="osArch" placeholder="Type here" value="<%= products.osArchitecture %>" class="form-control" id="product_size">
                                </div>
                       
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_sku" class="form-label">Screen Size</label>
                                    <input type="text" name="screenSize" placeholder="Type here" value="<%= products.screenSize %>" class="form-control" id="product_sku">
                                </div>
                              
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">Screen Type</label>
                                    <input type="text" name="screenType" placeholder="Type here" value="<%= products.screenType %>" class="form-control" id="product_size">
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Touch Screen</label>
                                    <div class="form-check">
                                        <input class="form-check-input" name="touchScreen" type="radio" value="true" id="product-cat"
                                        <% if (products.is_touchScreen == true) { %>checked<% } %>
                                        >
                                        <label class="form-check-label"  for="product-cat">Yes</label>
                                       
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" name="touchScreen" type="radio" value="false" id="product-cat"
                                        <% if (products.is_touchScreen == false) { %>checked<% } %>
                                        >
                                        <label class="form-check-label"  for="product-cat">No</label>
                                    </div>                                
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_sku" class="form-label">Backlit</label>
                                    <div class="form-check">
                                        <input class="form-check-input" name="backlit" type="radio" value="true" id="product-cat"
                                        <% if (products.is_backLit == true) { %>checked<% } %>
                                        >
                                        <label class="form-check-label"  for="product-cat">Yes</label>
                                       
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" name="backlit" type="radio" value="false" id="product-cat"
                                        <% if (products.is_backLit == false) { %>checked<% } %>
                                        >
                                        <label class="form-check-label"  for="product-cat">No</label>
                                    </div>                                
                                </div>
                              
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">Finger Print</label>

                                    <div class="form-check">
                                        <input class="form-check-input" name="fingerPrint" type="radio" value="true" id="product-cat"
                                        <% if (products.is_fingerPrint == true) { %>checked<% } %>
                                        >
                                        <label class="form-check-label"  for="product-cat">Yes</label>
                                       
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" name="fingerPrint" type="radio" value="false" id="product-cat"
                                        <% if (products.is_fingerPrint == false) { %>checked<% } %>
                                        >
                                        <label class="form-check-label"  for="product-cat">No</label>
                                    </div>
                                    
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">WebCam</label>
                                    <div class="form-check">
                                      <input class="form-check-input" name="webcam" type="radio" value="true" id="webcam-yes" 
                                        <% if (products.is_webCam == true) { %>checked<% } %>
                                      >
                                      <label class="form-check-label" for="webcam-yes">Yes</label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" name="webcam" type="radio" value="false" id="webcam-no"
                                        <% if (products.is_webCam == false) { %>checked<% } %>
                                      >
                                      <label class="form-check-label" for="webcam-no">No</label>
                                    </div>
                                  </div>
                                  
                            </div>
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" name="description" class="form-control" rows="4"><%= products.description %></textarea>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label">Price</label>
                                <input type="number" name="price" placeholder="Type here" value="<%= products.price %>" class="form-control">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Discount Price</label>
                                <input type="number" name="discountPrice" placeholder="Type here" value="<%= products.discountPrice %>" class="form-control">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Color</label>
                                <input type="text" name="color" placeholder="Type here" value="<%= products.color %>" class="form-control">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Quantity</label>
                                <input type="text" name="quantity" placeholder="Type here" value="<%= products.quantity %>" class="form-control">
                            </div>
                            
                            <hr>
                            <h5 class="mb-3">Categories</h5>

                            <% if (category && category.length > 0) { %>
                                <div class="form-group">
                                  <% for (let i = 0; i < category.length; i++) { %>
                                    <div class="form-check">
                                      <input class="form-check-input" name="category" type="radio" value="<%= category[i].name %>" id="category<%= i %>"
                                        <% if (category[i].name === products.category) { %>checked<% } %>>
                                      <label class="form-check-label" for="category<%= i %>"><%= category[i].name %></label>
                                    </div>
                                  <% } %>
                                </div>
                              <% } %>
                              
                              
         

                            
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <% if (products.image && products.image.length > 0) { %>
                                <% for (let i = 0; i < products.image.length; i++) { %>
                                    <div class="mb-4">
                                        <label class="form-label">Image <%= i + 1 %></label>
                                        <img id="imgView<%= i %>" src="../../Public/productImages/<%= products.image[i] %>" alt="">
                                        <input class="form-control" name="image" type="file" onchange="viewImage(event, <%= i %>)">
                                    </div>
                                <% } %>
                            <% } else { %>
                                <div class="mb-4">
                                    <label class="form-label">New Image</label>
                                    <input class="form-control" name="image" type="file" multiple>
                                </div>
                            <% } %>
                        </div>
                        
                    </div>
                    <div id="invalid">
                        <% if (typeof error !== 'undefined' && error) { %>
                            <p style="color: rgb(144, 5, 5);" id="message"><%= error %></p>
                        <% } %>
                                </div>  
                    </div> 
                    <div id="invalid">
                        <% if (typeof message !== 'undefined' && message) { %>
                            <p style="color: rgb(8, 96, 0);" id="message"><%= message %></p>
                        <% } %>
                                </div>  
                    </div>  <!-- card end// -->
                </div>

            </div>
            </form>
        </section>
      
<script>
    function viewImage(event, imageIndex) {
    const imgView = document.getElementById(`imgView${imageIndex}`);
    imgView.src = URL.createObjectURL(event.target.files[0]);
}

</script>

<%- include('../Layouts/adminFooter.ejs') %>