<%- include('../Layouts/adminHeader.ejs') %>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a>
                    <a href="/admin/productAdd" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <!-- <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Electronics</option>
                                <option>Clothes</option>
                                <option>Automobile</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div>
                </header> -->
        <div class="card-body">
                   
        <table id="products" class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <%
                if (products.length > 0) {
                  for (let i = 0; i < products.length; i++) {
                    %>
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox">
                        </div>
                      </td>
                      <td>
                        <a class="itemside" href="#">
                          <div class="left">
                            <img src="../../Public/productImages/<%= products[i].image[0] %>" class="img-sm img-thumbnail" alt="Item">
                          </div>
                          <div class="info">
                            <h7 class="mb-0"><%= products[i].name %></h7>
                          </div>
                        </a>
                      </td>
                      <td><%= products[i].category %></td>
                      <td><%= products[i].price %></td>

                      <td><%= products[i].quantity %></td>

                      <td>
                        <% if (products[i].is_listed == 1) { %>
                          <span class="badge rounded-pill alert-success">Listed</span>
                        <% } else { %>
                          <span class="badge rounded-pill alert-danger">Unlisted</span>
                        <% } %>
                      </td>
                      <td><%= new Date(products[i].date).toLocaleDateString() %></td>
                      <td class="">
                        <% if (products[i].is_listed == 0) { %>
                            <a href="/admin/unlistProduct?id=<%= products[i]._id %>" class="btn btn-sm font-sm rounded btn-brand">
                                <i class="material-icons md-edit"></i> List
                              </a>
                             

                          
                        <% } else { %>
                          <a href="/admin/unlistProduct?id=<%= products[i]._id %>" class="btn btn-sm font-sm rounded btn-danger">
                            <i class="material-icons md-edit"></i> Unlist
                          </a>
                        <% } %>
                        <div class="dropdown nav-item">
                            <button class="btn btn-sm font-sm rounded btn-light" data-bs-toggle="dropdown">More</button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="/admin/editProduct?id=<%= products[i]._id %>"><i class="material-icons md-perm_identity"></i>Edit Product</a>
                                <a class="dropdown-item text-danger" href="/admin/deleteProduct?id=<%= products[i]._id %>"><i class="material-icons md-account_balance_wallet"></i>Delete Product</a>
                                
                            </div>
                        </div>
                      </td>
                    </tr>
                    <%
                  }
                } else {
                  %>
                  <tr>
                    <td colspan="6">
                      <p>User not found</p>
                    </td>
                  </tr>
                  <%
                }
              %>
            </tbody>
          </table>
          
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
           <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
         <script>
           $(document).ready(function () {
        new DataTable('#products');

         })
          </script>
        <%- include('../Layouts/adminFooter.ejs') %>
