<%- include('../Layouts/header.ejs') %>

<!-- <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet"> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<!-- Include a required theme -->
<!-- <link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css"> -->
<script src="sweetalert2/dist/sweetalert2.min.js"></script>
<style>
    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #c60000;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 10;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }
    
    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;} 
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }


    </style>


<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <script src="script.js" defer></script>
<main class="main">

    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
           
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <%
                        if (cart.length > 0) {%>
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                  <% for (let i = 0; i < cart.length; i++) {
                                    %>
                                <tr>
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                                <a href="#">
                                                    <img src="../../Public/productImages/<%= cart[i].product.image[0] %>" alt="Product image">
                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                <a href="#"><%= cart[i].product.name.slice(0, 50) + '...'  %></a>
                                            </h3><!-- End .product-title -->
                                        </div><!-- End .product -->
                                    </td>
                                    <td class="price-col"><%= cart[i].product.discountPrice %></td>
                                    <td class="quantity-col">
                                        <div class="cart-product-quantity">
                                            <input type="number" class="form-control" value="<%= cart[i].quantity %>" min="1" max="4" step="1" data-decimals="0" required onchange="updateCart('<%= cart[i].product._id %>', this.value)">
                                        </div>
                                    </td>
                                    <td class="total-col">
                                        <% if (outOfStockError && cart[i].product.quantity < cart[i].quantity) { %>
                                            <label style="color: red;">Product Out of Stock</label>
                                        <% } else { %>
                                            <%= productTotal[i] %>
                                        <% } %>
                                    </td>
                                    <td class="remove-col  notifications" >
                                        <button class="btn-remove" id="warning" onclick="confirmRemoveCartItem('<%= cart[i].product._id %>');">
                                            <i class="icon-close"></i>
                                        </button>
                                        
                                        <!-- <button class="btn-remove" id="warning" onclick="myFunction()">
                                            <i class="icon-close"></i>
                                        </button>
                                    </td> -->

                                </tr>
                                <%
                            }
                          } else {
                            %>
                            <tr>
                              <td colspan="6">
                                <img src="/downloadImages/cart.gif" width="700px" alt="">
                              </td>
                            </tr>
                            <%
                          }
                        %>
                            </tbody>
                        </table><!-- End .table table-wishlist -->
                                    <div id="snackbar">The item is removed from cart..</div>

                        <div class="cart-bottom">
                            <!-- <div class="cart-discount">
                                <form action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" required placeholder="coupon code">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div> -->

                        </div><!-- End .cart-bottom -->
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
                            <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <tbody>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>
                                            <% if (outOfStockError==true) { %>
                                                <label style="color: rgb(97, 97, 97)(0, 0, 0);">----</label>
                                            <% } else { %>
                                                <%= subtotalWithShipping %>                                            
                                                <% } %></td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr class="summary-shipping">
                                        <td>Shipping:</td>
                                        <td>&nbsp;</td>
                                    </tr>

                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="free-shipping" name="shipping" class="custom-control-input" value="0" checked>
                                                <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                            </div>
                                        </td>
                                        <td>$0.00</td>
                                    </tr><!-- End .summary-shipping-row -->

                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="standard-shipping" name="shipping" class="custom-control-input" value="Standard-Shipping" disabled>
                                                <label class="custom-control-label" for="standard-shipping">Standard Shipping</label>
                                            </div>
                                        </td>
                                        <td>$10.00</td>
                                    </tr><!-- End .summary-shipping-row -->

                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="express-shipping" name="shipping" class="custom-control-input" value="Express-Shipping" disabled>
                                                <label class="custom-control-label" for="express-shipping">Express Shipping</label>
                                            </div>
                                        </td>
                                        <td>$20.00</td>
                                    </tr><!-- End .summary-shipping-row -->

                                    <tr class="summary-shipping-estimate">
                                        <td>Estimate for Your Country<br>
                                        <td>&nbsp;</td>
                                    </tr><!-- End .summary-shipping-estimate -->

                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td> <% if (outOfStockError==true) { %>
                                            <label style="color: rgb(97, 97, 97)(0, 0, 0);">----</label>
                                        <% } else { %>
                                            <%= subtotalWithShipping %>                                            
                                            <% } %></td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <% if(outOfStockError==true){
                                %> <label style="color: red;">Product Out of Stock</label>
                            <%}else{%>
                                <a href="/checkout" class="btn btn-primary btn-order btn-block" style="padding: 7px;">PROCEED TO CHECKOUT</a>
                            <%}%>
                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>


function confirmRemoveCartItem(productId) {
    Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        background: '#ffffff', // Set the background color to white
        customClass: {
          popup: 'white-background', // Add a custom class for additional styling
        },
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
       
    }).then((result) => {
        if (result.isConfirmed) {
            // User clicked "Yes," so proceed with removing the item
            removeCartItem(productId);
           
        }
    });
}

    function updateCart(productId, newQuantity) {
        fetch(`/updateCart?productId=${productId}&quantity=${newQuantity}`, {
            method: 'PUT',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();

            } else {
                console.error('Failed to update cart:', data.error);
            }
        })
        .catch(error => {
            console.error('Error updating cart:', error);
        });
    }

    function removeCartItem(productId) {
    fetch(`/removeCartItem?productId=${productId}`, {
        method: 'DELETE',
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            localStorage.setItem('productRemoved', 'true');
            location.reload();
            
        } else {
            console.error('Failed to remove cart item:', data.error);
        }
    })
    .catch(error => {
        console.error('Error removing cart item:', error);
    });
}
document.addEventListener('DOMContentLoaded', function () {
    const productRemoved = localStorage.getItem('productRemoved');
    if (productRemoved === 'true') {
        myFunction();
        localStorage.removeItem('productRemoved'); 

    }
});
function myFunction() {
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}

document.addEventListener('DOMContentLoaded', function () {
    const shippingRadios = document.querySelectorAll('input[name="shipping"]');
    const totalElement = document.querySelector('.summary-total td:last-child');
    
    let currentTotal = parseInt(totalElement.textContent, 10);

    let selectedShippingOption = null;

    shippingRadios.forEach(function (radio) {
        radio.addEventListener('change', function () {
            const selectedShippingCost = parseInt(this.value, 10);

            console.log('Selected Shipping Cost:', selectedShippingCost);

            if (selectedShippingOption !== null) {
                currentTotal -= selectedShippingOption;
            }

            currentTotal += selectedShippingCost;

            totalElement.textContent = currentTotal;

            selectedShippingOption = selectedShippingCost;
        });
    });
});

    </script>
    
    <%- include('../Layouts/mobileheader.ejs') %>

<%- include('../Layouts/footer.ejs') %>
