<%- include('../Layouts/header.ejs') %>
<main class="main">
    <div class="page-header text-center" style="background-image: url('../../Public/assets/images/userProfile/andras-vas-Bd7gNnWJBkU-unsplash.jpg')">
        <div class="container">
            <h1 class="page-title" style="color: white;">My Account<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
   
    <div class="page-content mt-4">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-2">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-editProfile" role="tab" aria-controls="tab-address" aria-selected="false">Edit Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-10">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                <p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
                                <br>
                                From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                <p>No order has been made yet.</p>
                                <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
                                <p>No downloads available yet.</p>
                                <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                <p>The following addresses will be used on the checkout page by default.</p>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                                                <p>User Name<br>
                                                User Company<br>
                                                John str<br>
                                                New York, NY 10001<br>
                                                1-234-987-6543<br>
                                                yourmail@mail.com<br>
                                                <a href="#">Edit <i class="icon-edit"></i></a></p>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 -->

                                    <div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

                                                <p>You have not set up this type of address yet.<br>
                                                <a href="#">Edit <i class="icon-edit"></i></a></p>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 -->
                                </div><!-- End .row -->
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-account"  role="tabpanel" aria-labelledby="tab-account-link">
                                <section class="" style="height: 90vh; margin-top: ; width: 70vw;  background-color: #ffffff; ">
                                    <div class="container py-5 h-100">
                                        <div class="mt-3 mb-4 align-items-center" style="display: flex;">
                                            <div class="col-lg-4">
                                                <img src="../../Public/userImages/<%= User.image %>"
                                                class="rounded-circle img-fluid" style="width: 400px;" />
                                            </div>
                                          
                                            <div style="display: flex; flex-direction: column;" class="col-lg-4 mt-3">
                                                <div style="display: flex; flex-direction: column;">
                                                    <h3>Name:</h3>

                                                    <p class="text-muted"><%= User.name %></p>
                                                  </div>
                                                 <div style="display: flex; flex-direction: column;">
                                                    <h3>Email:</h3>
    
                                                    <p class="text-muted"><%= User.email %></a></p>
                                                 </div>
                                                 <div style="display: flex; flex-direction: column;">
                                                    <h3>Mobile:</h3>
    
                                                    <p class="text-muted mb-4"><%= User.mobile %></a></p>
                                                 </div>
                                            </div>
                                                 <div class="col-lg-4 d-flex flex-column">
                                                    <button type="button" class="btn mt-5  btn-outline-primary btn-lg">
                                                        Edit Profile
                                                    </button>
                                                    <button type="button" class="btn mt-5  btn-outline-primary btn-lg">
                                                        Change Password
                                                    </button>
                                                  
                                                  
                                                  <button type="button" class="btn mt-5 btn-danger btn-rounded btn-lg">
                                                    De-Activate Account
                                                  </button>
                                                 </div>
                                                
                                            
                                            
                                        </div>
                                             
                                             
                                    </div>
                                      <div class="row d-flex justify-content-center align-items-center h-100">
                                        <div class="col-md-12 col-xl-4">
                                         
                                          <div  style="margin-top: -200px;">
                                            <div class="card-body text-center justify-content-center">
                                             
                                             

                                              <div class="mb-4 pb-2">
                                    
                                              <!-- <div class="d-flex justify-content-between text-center mt-5 mb-2">
                                                <div>
                                                  <p class="mb-2 h5">8471</p>
                                                  <p class="text-muted mb-0">Wallets Balance</p>
                                                </div>
                                                <div class="px-3">
                                                  <p class="mb-2 h5">8512</p>
                                                  <p class="text-muted mb-0">Income amounts</p>
                                                </div>
                                                <div>
                                                  <p class="mb-2 h5">4751</p>
                                                  <p class="text-muted mb-0">Total Transactions</p>
                                                </div>
                                              </div> -->
                                            </div>
                                          </div>
                                  
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="tab-editProfile"  role="tabpanel" aria-labelledby="tab-account-link">
                                <section class="" style="height: 90vh;  width: 70vw;  background-color: #ffffff; ">
                                    <div class="container py-5 h-100">
                                        <form action="/editUserProfile" method="post" enctype="multipart/form-data">
                                            <input type="hidden" value="<%= User._id %>" name="user_id">
                                        <div class="mt-3 mb-4 align-items-center" style="display: flex;">
                                            <div class="col-lg-6">
                                                <img src="../../Public/userImages/<%= User.image %>"
                                                class=" img-fluid" style="width: 300px;" />
                                                <input type="file" class="form-data" name="image" value="<%= User.image %>">
                                            </div>
                                          
                                            <div style="display: flex; flex-direction: column;" class="col-lg-6 mt-3">
                                                <div style="display: flex; flex-direction: column;">
                                                    <h3>Name:</h3>
                                                    <input type="text" class="form-data" name="name" value="<%= User.name %>">

                                                    <p class="text-muted"></p>
                                                  </div>
                                                 <div style="display: flex; flex-direction: column;">
                                                    <h3>Email:</h3>
                                                    <input type="text" class="form-data" name="email" value="<%= User.email %>">

                                                    <p class="text-muted"></a></p>
                                                 </div>
                                                 <div style="display: flex; flex-direction: column;">
                                                    <h3>Mobile:</h3>
                                                    <input type="text" class="form-data" name="mobile" value="<%= User.mobile %>">

                                                    <p class="text-muted mb-4"></a></p>
                                                 </div>
                                                 <div>
                                                    <input type="submit" class="btn btn-primary" value="Edit">

                                                 </div>

                                             
                                        </div>

                                        </form>
                                      <div class="row d-flex justify-content-center align-items-center h-100">
                                        <div class="col-md-12 col-xl-4">
                                         
                                          <div  style="margin-top: -200px;">
                                            <div class="card-body text-center justify-content-center">
                                             
                                             

                                              <div class="mb-4 pb-2">
                                    
                                              
                                            </div>
                                          </div>
                                  
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->

</main><!-- End .main -->

<%- include('../Layouts/footer.ejs') %>